.row {
  padding: 20px;
}

/*Estilo de la foto de perfil*/
#foto-perfil {
  border-radius: 100%;
}

div {
  background-color: #a1b5cb;
  text-align: center;
}

/*Etiqueta nombre*/
#nombre {
  font-weight: bold;
  margin-top: 25%;
}
