.row {
  padding: 20px;
}

/*Estilo de la foto de perfil*/
#foto-perfil {
  border-radius: 100%;
}

div {
  background-color: #000000;
  text-align: center;
}

/*Etiqueta nombre*/
#nombre {
  font-weight: bold;
  margin-top: 25%;
}

.descripcionC{
  display: flex;
  justify-content: center;
  align-items: center;
}

