<p>Logo-ap works</p>

<!-- <div class="row">
  <div class="container">
    <div class="logo">
      <a href=""><img src="../../../../src/assets/logos/APLogo.png" id="logo-ap" /></a>
    </div>
    <div class="redes">
      <a href="https://www.instagram.com/fede.moscov/"
        ><img src="../../../../src/assets/logos/instagram.png" id="instagram"
      /></a>
      <a href="https://www.facebook.com/inigo.federico"
        ><img src="../../../../src/assets/logos/facebook.png" id="facebook"
      /></a>
      <a href="https://twitter.com/FedeReveck"
        ><img src="../../../../src/assets/logos/assets/twitter.png" id="twitter"
      /></a>
      <a href="https://www.linkedin.com/in/inigo-federico/"
        ><img src="../../../../src/assets/logos/assets/linkedin.png" id="linkedin"
      /></a>
      <a href="https://github.com/inigofede"
        ><img src="../../../../src/assets/logos/github.png" id="github"
      /></a>
     <button
        type="button"
        class="btn btn-outline-light"
        (click)="login()"
        *ngIf="!isLogged"
      >
        Iniciar Sesion
      </button> -->
<!-- <button
        type="button"
        class="btn btn-outline-light"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        Cerrar Sesion
      </button>
    </div>
  </div>
</div> -->
